
.vs/DotNetCoreWithAngular/v15/Server/sqlite3/db.lock
.vs/DotNetCoreWithAngular/v15/Server/sqlite3/storage.ide
CoreDAC/obj/project.assets.json
CoreDAC/obj/CoreDAC.csproj.nuget.g.props
CoreDAC/obj/CoreDAC.csproj.nuget.cache
CoreApi/obj/project.assets.json
CoreApi/obj/Debug/netcoreapp2.0/CoreApi.csprojAssemblyReference.cache
CoreApi/obj/Debug/netcoreapp2.0/CoreApi.csproj.CoreCompileInputs.cache
CoreApi/obj/CoreApi.csproj.nuget.g.props
CoreApi/obj/CoreApi.csproj.nuget.cache
.vs/DotNetCoreWithAngular/v15/Server/sqlite3/storage.ide-wal
.vs/DotNetCoreWithAngular/v15/Server/sqlite3/storage.ide-shm
CoreDAC/obj/project.assets.json
CoreDAC/obj/CoreDAC.csproj.nuget.g.props
CoreDAC/obj/CoreDAC.csproj.nuget.cache
CoreApi/obj/project.assets.json
CoreApi/obj/Debug/netcoreapp2.0/CoreApi.csprojAssemblyReference.cache
CoreApi/obj/Debug/netcoreapp2.0/CoreApi.csproj.CoreCompileInputs.cache
CoreApi/obj/CoreApi.csproj.nuget.g.props
CoreApi/obj/CoreApi.csproj.nuget.cache
CoreDAC/obj/project.assets.json
